<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header"><%- include("__buttons") %></div>
    <div class="wrapper">
        
       
        <pre><code id="code-text">your id for this text is: <%= locals.userId %>
        <p>take the id and put it after domain like:</p>
        <p>http://localhost:8000/<span class="user-id">Your-ID</span></p> </code></pre>
           
        
    </div>

</body>
</html>